/* Variables */
/* Colors */
/* Sizes */
/* line 80, C:/wamp/www/github/addSlider/src/addSlider.scss */
.addui-slider {
  display: block;
  width: calc(100% - 50px);
  height: 50px;
  margin: 16px 25px;
  box-sizing: border-box; }
  /* line 87, C:/wamp/www/github/addSlider/src/addSlider.scss */
  .addui-slider * {
    box-sizing: border-box; }
  /* line 89, C:/wamp/www/github/addSlider/src/addSlider.scss */
  .addui-slider:not(.addui-slider-isrange) {
    cursor: pointer; }
  /* line 93, C:/wamp/www/github/addSlider/src/addSlider.scss */
  .addui-slider .addui-slider-track {
    display: block;
    position: relative;
    height: 4px;
    width: 100%;
    background: rgba(0, 0, 0, 0.38);
    border-radius: 4px;
    top: 23px; }
    /* line 102, C:/wamp/www/github/addSlider/src/addSlider.scss */
    .addui-slider .addui-slider-track .addui-slider-range {
      display: block;
      height: 4px;
      background: #3f51b5;
      border-radius: 4px;
      position: relative; }
    /* line 110, C:/wamp/www/github/addSlider/src/addSlider.scss */
    .addui-slider .addui-slider-track .addui-slider-handle {
      display: block;
      width: 50px;
      height: 50px;
      background: rgba(63, 81, 181, 0);
      box-shadow: 0 0 5px rgba(63, 81, 181, 0);
      position: absolute;
      top: -25px;
      transform: translateX(-50%);
      border-radius: 50px;
      cursor: pointer;
      transition: background 1s, box-shadow 1s; }
      /* line 123, C:/wamp/www/github/addSlider/src/addSlider.scss */
      .addui-slider .addui-slider-track .addui-slider-handle .addui-slider-value {
        display: block;
        float: right;
        background: rgba(63, 81, 181, 0);
        width: 50px;
        height: 50px;
        border-radius: 0 50% 50% 50%;
        transform: rotate(-135deg);
        margin-top: -60px;
        color: white;
        opacity: 0;
        pointer-events: none;
        transition: opacity 1s, background 1s; }
        /* line 137, C:/wamp/www/github/addSlider/src/addSlider.scss */
        .addui-slider .addui-slider-track .addui-slider-handle .addui-slider-value span {
          display: block;
          transform: rotate(135deg);
          width: 100%;
          height: 100%;
          text-align: center;
          line-height: 50px; }
      /* line 147, C:/wamp/www/github/addSlider/src/addSlider.scss */
      .addui-slider .addui-slider-track .addui-slider-handle:hover {
        box-shadow: 0 0 5px rgba(63, 81, 181, 0.5); }
        /* line 150, C:/wamp/www/github/addSlider/src/addSlider.scss */
        .addui-slider .addui-slider-track .addui-slider-handle:hover .addui-slider-value {
          opacity: 1;
          background: rgba(63, 81, 181, 0.5); }
      /* line 156, C:/wamp/www/github/addSlider/src/addSlider.scss */
      .addui-slider .addui-slider-track .addui-slider-handle.addui-slider-handle-active {
        background: rgba(63, 81, 181, 0.5);
        box-shadow: 0 0 5px rgba(63, 81, 181, 0.5); }
        /* line 160, C:/wamp/www/github/addSlider/src/addSlider.scss */
        .addui-slider .addui-slider-track .addui-slider-handle.addui-slider-handle-active .addui-slider-value {
          background: rgba(63, 81, 181, 0.75);
          opacity: 1; }
      /* line 167, C:/wamp/www/github/addSlider/src/addSlider.scss */
      .addui-slider .addui-slider-track .addui-slider-handle:after {
        display: block;
        content: " ";
        width: 25px;
        height: 25px;
        background: #3f51b5;
        border-radius: 25px;
        position: relative;
        top: 13px;
        left: 13px; }

/*# sourceMappingURL=addSlider.css.map */